server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:equitspringdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 123456

#    schema: classpath:db/schema.sql
#    data: classpath:db/data.sql
  jpa:
    database: h2
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      path: /h2-console
      enabled: true
      settings:
        web-allow-others: true
logging:
  config: classpath:logback-config.xml
